* {
  box-sizing: border-box;
}
body,
::after,
::before {
  padding: 0;
  margin: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
img {
  object-fit: cover;
  vertical-align: middle;
}
.todo__title{
  margin: 20px 0;
  padding: 0 ;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
 
}

.todo__box{
   
  margin: 150px auto;
  width: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.box__inner{
  display: flex;
  align-items: center;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);

 
}
ul{
  margin: 0;
  padding: 0;
}
.tod0__span::before{
  transform: rotate(90deg);
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 0px 10px 27px;
}
.todo__input{
  outline: none;
  background-color: rgba(0,0,0,.003);
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  font-weight: inherit;
  line-height: 1.4em;
  margin: 0;
  padding: 16px 16px 16px 60px;
  width: 100%;

}
.todo__input::placeholder{
  font-size: 40px;
  color: bisque;
}
.box__buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__tasks{
  padding-left: 10px;
}
.button__lists{
  margin: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.todo__item{
  margin-right: 10px;
}
.clear__button{
  margin-right: 10px;
}